<!DOCTYPE html>
<html lang="en">
<head>
<title>Number Portability</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/blockchain.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/NumberPortabilityConfirmController.js"></script>
<script src="js/services/NumberPortabilityService.js"></script>
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-* header" style="background-color: #325c80;">
				<h1 class="text-center whitetext">
					<img src="images/IBM_logo_white.png" alt="ibm logo"
						class="logo_image hidden-xs" align="left"> Number Portability Solution
				</h1>
			</div>
		</div>
		<form class="form-horizontal">
			<div class="row">
				<div class="col-sm-* containerdiv">
					<h3>
						Requester's Confirmation Page
					</h3>
					<div class="panel panel-info" ng-controller="NumberPortabilityConfirmCtrl">
						 <div class="panel-heading" data-toggle="collapse" data-target="#dataSet1">Donor's Data</div>
						<div class="panel-body collapse in" id="dataSet1">
						<div class="form-group">
							<label class="control-label col-sm-2" for="Services">Services:</label>
							<div class="col-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-cog"></i> </span> <input ng-model="Services1"
										type="text" class="form-control" name="Services"
										placeholder="Services"  disabled>
								</div>

							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="Usage">Usage:</label>
							<div class="col-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-phone"></i> </span> <input type="text"
										class="form-control" ng-model="Usage1" placeholder="Usage"  disabled>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="Balance">Bill/Balance:</label>
							<div class="col-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span> <input ng-model="Balance1"
										type="text" class="form-control"
										placeholder="Bill/Balance"  disabled>
								</div>
							</div>
						</div>
						</div>
					</div>
					<div class="panel panel-info" >
						 <div class="panel-heading" data-toggle="collapse" data-target="#dataSet2">Donor's Data</div>
						<div class="panel-body collapse in" id="dataSet2">
						<div class="form-group">
							<label class="control-label col-sm-2" for="Services">Services:</label>
							<div class="col-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-cog"></i> </span> <input ng-model="Services2"
										type="text" class="form-control" 
										placeholder="Services"  disabled>
								</div>

							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="Usage">Usage:</label>
							<div class="col-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-phone"></i> </span> <input type="text"
										class="form-control" ng-model="Usage2" placeholder="Usage"  disabled>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="Balance">Bill/Balance:</label>
							<div class="col-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span> <input
										type="text" class="form-control" ng-model="Balance2"
										placeholder="Bill/Balance"  disabled>
								</div>
							</div>
						</div>
						</div>
					</div>
					<div align="center">
					 <button type="submit" class="btn btn-success">
      						<span class="glyphicon glyphicon-ok"></span> Accept
    				</button>
    				<button type="submit" class="btn btn-danger">
    				<span class="glyphicon glyphicon-remove"></span>Reject</button>
    				</div>
				</div>

			</div>
		</form>
	</div>

</body>
</html>
